/* index.html */
#home {
  background: url("img/background\ 2.jpg") no-repeat center;
  background-size: cover;
}

#homee {
  color: #fff;
}

#about {
  color: #fff;
}
#project {
  padding-top: 6rem;
  background-color: #fccff1;
}

section {
  padding-top: 5rem;
}
